.amenities-page {
    padding: 20px;
}

.amenities-page h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    margin-bottom: 20px;
}

.amenities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.amenity-box {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.2s;
}

.amenity-box.active {
    border-color: #000;
    background: #f3f3f3;
}

.amenity-box:hover {
    background: #eaeaea;
}

.next-btn-amenities {
    margin-top: 25px;
    padding: 12px 20px;
    background: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}